*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 20px 40px; */
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: red;
    /* margin-top: 6px; */
    margin-left: 5.5rem;
    cursor: pointer;
}
.link{
    display: block;
 }
.ul_item{
    /* margin-top: 6px; */
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 5.5rem;
}
.ul_item>li{
   align-items: center;
   padding: 4px 18px;
    /* margin: 0 0.1em; */
    /* margin-top: 5px; */
}
.ul_item>li>a{
    font-size: 0.9rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.ul_item>li:hover{
    
    border-radius: 4px;
    background-color: rgb(174, 174, 165);
}
.section{
    width: 100%;
    height: 100vh;
    background-image: url('image.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    
}
.box{
    position:absolute;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.3);
    /* position: fixed; */
    top: 13em;
    left: 2em;
}
.box button{
    background-color:red;
    border-radius: 15px;
    margin-top: 12px;
    border: none;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-weight: 500;


}
.red-fork {
    color: transparent; 
    text-shadow: 0 0 0 red; 
}
.box> button:hover{
    background-color: rgb(8, 131, 55);
    color: black;
}
/* ****************************************************heading **************** */
.heading_food{
    /* box-sizing: border-box; */
    margin-top: 20px;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    /* flex-direction: column; */
}

/* ********************************************content************************** */

.main_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graimage{
    margin-left: 2.5em;
    margin-top: 20px;
    width: 248px;
    height: 400px;
    display: flex;
    
    
}

.content_box{
    border-radius: 10px;
    border: 1px solid rgb(237, 231, 231);
    /* box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px, rgba(0, 0, 0, 0.1) 3px 3px 3px; */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.845);
    
   
}

.content{
    background-image: url('gradientimage.jpg');
    border-radius: 50% 50% 10px 10px;
    margin-left: .2px;
    width: 247px;
    height: 400px;
   
}

.content>h3{
    font-weight: 900;
}
.contentText>p{
font-weight: 900;
}
.contentText>div{
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.05);
    font-weight: 500;
}
.image img{
    margin-top: -18px;
    width: 270px;
    height: 200px;

}

.content>h3{
    margin-left: 20px;
}
.contentText{
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnbox{
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 25px;
  
}
.ingrButton{
    background-color: red;
    border: none;
    border-radius: 10px;
   color: white;
    padding: 9px 15px ;
    font-weight: 700;

}
.ingrButton:hover{
    background-color: rgb(139, 108, 108);
}

/* **************************************footer*********************************** */
.footerClass{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(236, 139, 13);
}
.btnbox>h4{
    color: brown;
}